*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
}
