$main-color__white: #fff;
$main-color__black: #000;
$main-color__green: #032817;
$text-color__green: #006034;
$text-color__dark__green: #01522d;
$bg-color__light__green: #edfff7;
$bg-color__lime__green: #ecf7ee;
$bg-color__dark__green: #032817;
$input-outline-color__green: rgba(1, 82, 45, 0.19);
$ellipse-color__green: #005e33;

%column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%space-around-content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}

%width-height {
  width: 100%;
  height: 100%;
}
