@use '../mixins/layout';
@use '../mixins/typography';
@use '../utils/variables';
@use '../utils/breakpoints' as bp;

.benefits {
  &__section {
    padding: 40px 0px;
    background-color: variables.$main-color__white;
    z-index: 1000;
    @media screen and (min-width: bp.$desktop) {
      padding: 72px 0px;
    }
  }
  &__list {
    display: block;
    margin: 0 auto;
    @media screen and (min-width: bp.$desktop) {
      display: flex;
      align-items: flex-start;
      gap: 30px;
    }
  }
  &__item {
    font-family: 'Roboto', sans-serif;

    @media screen and (max-width: bp.$desktop-max) {
      @include layout.centered-content;
      flex-direction: column;
      text-align: center;
    }
    @include typography.text(18px, 400, 28.8px, variables.$main-color__black);

    @media screen and (min-width: bp.$desktop) {
      display: flex;
      @include typography.text(20px, 400, 33.4px, variables.$main-color__black);
    }
  }

  @media screen and (max-width: bp.$desktop-max) {
    &__item:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__icon {
    @media screen and (max-width: bp.$desktop-max) {
      margin-bottom: 12px;
    }

    @media screen and (min-width: bp.$desktop) {
      width: 36px;
      height: 36px;
      flex-shrink: 0;
      margin-right: 16px;
    }
  }
}

.text__accent {
  font-weight: 700;
}
